#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.home#app {
    min-height: 100vh;
    display: block;
}

.content {
    min-height: 50vh;
}

/* Menu */
.header {
    background: #F7F9FF;
}

.header-home.header {
    background: rgba(0,0,0,0);
}

.header__nav a {
    font-size: 14px;
}

.header__nav li:hover:before,
.header__nav li.active:before {
    background: none;
}

.header__nav li:hover a,
.header__nav ul li.active a,
.menu-mobile ul li.active a {
    border-bottom: none;
    color: #F2994A;
}

.header-home .header__nav ul li.active a,
.header-home .menu-mobile ul li.active a {
    border-bottom: none;
    color: #180b56;
}

/* Content */
.content ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.content li {
    list-style-type: disc;
}

.content a {
    color: #180B56;
}

.publications__card {
    height: auto;
}

.membership__form__info div ul {
    padding-left: 0;
}

.about__founder__contact ul,
.publications__card ul {
    margin: 0;
    padding: 0;
}

.about__founder__contact li,
.home-about__list li,
.publications__card li {
    list-style: none;
}

.publications__card__img img {
    height: auto;
    min-height: 250px;
}

.publications__card__text .btn {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-bottom: 30px;
    padding: 0.5rem 1rem;
}

.publications__card:hover .btn {
    height: auto;
}

.think-tanks__block a {
    color:#2F80ED;
}

/* Homepage */
.home-about__title p {
    max-width: none;
    text-align: justify;
}

.home-about__title p:before {
    display: none;
}

.home-about__title p:last-child:before {
    display: block;
}

.home-news__block .btn-primary {
    background-color: #f6f9ff;
}

/* Footer */
.footer {
    color: #fff;
    font-weight: 700;
    height: auto;
    display: block;
}

.footer .footer__subfooter {
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.footer__address {
    text-align: left;
}

.footer .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.footer .footer__contacts-item {
    margin-bottom: 0.5rem
}

.footer .footer__contacts img {
    vertical-align: middle;
    margin-right: 1rem;
}

.footer .footer__copyright {
    background: #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .footer__menu .nav-link {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.footer .footer__menu .nav-link:active,
.footer .footer__menu .nav-link:hover {
    color: #F2994A;
}

.think-tanks__block:hover {
    background: #dce6ff;
    -webkit-box-shadow:0 0 20px #dce6ff;
    box-shadow:0 0 20px #dce6ff;
}

 .links-list__item {
      min-height: 40px;
      margin: 0 5px 5px 0;
      padding: 8px 7px;
      background-color: #f6f9ff;
  }

.links-list__item:hover {
    background: #dce6ff;
    -webkit-box-shadow:0 0 20px #dce6ff;
    box-shadow:0 0 20px #dce6ff;
}

.links-list__container img {
    height: 27px;
    margin-right: 10px
}

/* Adaptive */

@media (max-width: 767px) {
    .footer .footer__subfooter {
        flex-direction: column;
    }

    .footer__address {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer .footer__contacts {
        align-items: center;
        margin-bottom: 1rem;
    }

    .footer .footer__menu {
        justify-content: center;
    }
}
